{% autoescape false %}
    {% block collection_builder_widget %}
        {% if formBuilder is defined %}
            {{ form_widget(formBuilder) }}
        {% endif %}
        {% if not sonata_admin.field_description.hasassociationadmin %}
            {% for element in value %}
                {{ element|render_relation_element(sonata_admin.field_description) }}
            {% endfor %}
        {% else %}

            <div id="field_container_{{ id }}" class="field-container custom-collection {{ field_class }}">

                <div class="wizard">
                    <div class="errors"></div>
                    <div class="row">
                        {% for field_name, nested_field in form.children.wizard.children %}
                            <div class="col-xs-12 col-sm-4">
                                {{ form_row(nested_field) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a onclick="return start_form_create_{{ id }}(this);"
                               class="btn btn-success btn-sm sonata-ba-action"
                               title="{{ wizardLabel|trans({}, btn_catalogue) }}" >
                                <i class="fa fa-plus-circle"></i>
                                {{ wizardLabel|trans({}, btn_catalogue) }}
                                <img height='13' style="display: none" src='/bundles/gggginosonataextrafields/images/charging.gif'/>
                            </a>
                        </div>
                    </div>

                    <style>
                        .radio, .checkbox {
                            position: relative;
                            display: initial !important;
                            float: left;
                            white-space: nowrap;
                            padding-right: 15px;
                        }

                        .wizard {
                            padding-bottom: 20px;
                            margin-bottom: 30px;
                            border-bottom: solid 2px #000000;
                        }
                    </style>

                    <script type="text/javascript">
                        function start_form_create_{{ id }}(questo) {
                            var form = jQuery(questo).closest('form');
                            var $wizardLoader = jQuery(questo).find('img');
                            $wizardLoader.show();
                            console.log($wizardLoader);
                            // the ajax post
                            jQuery(form).ajaxSubmit({
                                url: '{{ path('sonata_admin_append_form_element_render', {
                                    'code':      sonata_admin.admin.root.code,
                                    'elementId': id,
                                    'objectId':  sonata_admin.admin.root.id(sonata_admin.admin.root.subject),
                                    'uniqid':    sonata_admin.admin.root.uniqid,
                                    'subclass': app.request.query.get('subclass'),
                                } + sonata_admin.field_description.getOption('link_parameters', {})) }}',
                                type: "POST",
                                dataType: 'html',
                                data: { _xml_http_request: true },
                                success: function(html) {
                                    if (!html.length) {
                                        return;
                                    }
                                    var $newForm = jQuery(html);
                                    var $oldForm = jQuery('#field_container_{{ id }}');

                                    // Maintain state of file inputs
                                    $oldForm.find('input[type="file"]').each(function(){
                                        var id = '#'+$(questo).attr('id');
                                        $newForm.find(id).replaceWith($(this));
                                    });

                                    $oldForm.replaceWith($newForm); // replace the html

                                    Admin.shared_setup(jQuery('#field_container_{{ id }}'));

                                    if(jQuery('input[type="file"]', form).length > 0) {
                                        jQuery(form).attr('enctype', 'multipart/form-data');
                                        jQuery(form).attr('encoding', 'multipart/form-data');
                                    }
                                    jQuery('#sonata-ba-field-container-{{ id }}').trigger('sonata.add_element');
                                    jQuery('#field_container_{{ id }}').trigger('sonata.add_element');
                                },
                                error: function(json) {
                                    var messages = JSON.parse(json.responseText),
                                        stringMessages = "";

                                    for( var i in messages ) {
                                        stringMessages += "<div class=\"alert alert-danger alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button>" + messages[i] + "</div>";
                                    }
                                    jQuery(questo).closest('.wizard').find('.errors').html(stringMessages);
                                    $wizardLoader.hide();
                                }
                            });
                        }
                    </script>
                </div>

                <span id="field_widget_{{ id }}" >
            {% if sonata_admin.edit == 'inline' %}
                {% if sonata_admin.inline == 'table' %}
                    {% if form.children.items.children|length > 0 %}
                        {% include '@GGGGinoSonataExtraFields/CRUD/custom_collection_inline_table.html.twig' %}
                    {% endif %}
                {% elseif form.children.items.children|length > 0 %}
                    {% set associationAdmin = sonata_admin.field_description.associationadmin %}
                    {% include '@GGGGinoSonataExtraFields/CRUD/custom_collection_inline_tabs.html.twig' %}
                {% endif %}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}

        </span>

                {% set display_create_button = sonata_admin.field_description.associationadmin.hasroute('create')
                and sonata_admin.field_description.associationadmin.isGranted('CREATE')
                and btn_add
                and (
                sonata_admin.field_description.options.limit is not defined or
                form.children|length < sonata_admin.field_description.options.limit
                ) %}

                {% if sonata_admin.edit == 'inline' %}

                    {% if display_create_button %}
                        <span id="field_actions_{{ id }}" >
                    <a
                            href="{{ sonata_admin.field_description.associationadmin.generateUrl(
                            'create',
                            sonata_admin.field_description.getOption('link_parameters', {})
                            ) }}"
                            onclick="return start_field_retrieve_{{ id }}(this);"
                            class="btn btn-success btn-sm sonata-ba-action"
                            title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                </span>
                    {% endif %}

                    {# add code for the sortable options #}
                    {% if sonata_admin.field_description.options.sortable is defined %}
                        {% if sonata_admin.inline == 'table' %}
                            {% include '@SonataDoctrineORMAdmin/CRUD/edit_orm_one_to_many_sortable_script_table.html.twig' %}
                        {% else %}
                            {% include '@SonataDoctrineORMAdmin/CRUD/edit_orm_one_to_many_sortable_script_tabs.html.twig' %}
                        {% endif %}
                    {% endif %}

                    {# include association code #}
                    {% include '@SonataDoctrineORMAdmin/CRUD/edit_orm_one_association_script.html.twig' %}

                {% else %}
                    <span id="field_actions_{{ id }}" >
                    {% if display_create_button %}
                        <a
                                href="{{ sonata_admin.field_description.associationadmin.generateUrl(
                                'create',
                                sonata_admin.field_description.getOption('link_parameters', {})
                                ) }}"
                                onclick="return start_field_dialog_form_add_{{ id }}(this);"
                                class="btn btn-success btn-sm sonata-ba-action"
                                title="{{ btn_add|trans({}, btn_catalogue) }}"
                        >
                            <i class="fa fa-plus-circle"></i>
                            {{ btn_add|trans({}, btn_catalogue) }}
                        </a>
                    {% endif %}
                </span>

                    {% include '@SonataDoctrineORMAdmin/CRUD/edit_modal.html.twig' %}

                    {% include '@SonataDoctrineORMAdmin/CRUD/edit_orm_many_association_script.html.twig' %}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}

    {% block pimped_collection_widget %}
        {% if not sonata_admin.field_description.hasassociationadmin %}
            {% for element in value %}
                {{ element|render_relation_element(sonata_admin.field_description) }}
            {% endfor %}
        {% else %}

            <div id="field_container_{{ id }}" class="field-container custom-collection {{ field_class }}">
        <span id="field_widget_{{ id }}" >
            {% if sonata_admin.edit == 'inline' %}
                {% if sonata_admin.inline == 'table' %}
                    {% if form.children|length > 0 %}
                        {% include '@GGGGinoSonataExtraFields/CRUD/custom_collection_inline_table.html.twig' %}
                    {% endif %}
                {% elseif form.children|length > 0 %}
                    {% set associationAdmin = sonata_admin.field_description.associationadmin %}
                    {% include '@GGGGinoSonataExtraFields/CRUD/custom_collection_inline_tabs.html.twig' %}
                {% endif %}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}

        </span>

                {% set display_create_button = sonata_admin.field_description.associationadmin.hasroute('create')
                and sonata_admin.field_description.associationadmin.isGranted('CREATE')
                and btn_add
                and (
                sonata_admin.field_description.options.limit is not defined or
                form.children|length < sonata_admin.field_description.options.limit
                ) %}

                {% if sonata_admin.edit == 'inline' %}

                    {% if display_create_button %}
                        <span id="field_actions_{{ id }}" >
                    <a
                            href="{{ sonata_admin.field_description.associationadmin.generateUrl(
                            'create',
                            sonata_admin.field_description.getOption('link_parameters', {})
                            ) }}"
                            onclick="return start_field_retrieve_{{ id }}(this);"
                            class="btn btn-success btn-sm sonata-ba-action"
                            title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                </span>
                    {% endif %}

                    {# add code for the sortable options #}
                    {% if sonata_admin.field_description.options.sortable is defined %}
                        {% if sonata_admin.inline == 'table' %}
                            {% include '@SonataDoctrineORMAdmin/CRUD/edit_orm_one_to_many_sortable_script_table.html.twig' %}
                        {% else %}
                            {% include '@SonataDoctrineORMAdmin/CRUD/edit_orm_one_to_many_sortable_script_tabs.html.twig' %}
                        {% endif %}
                    {% endif %}

                    {# include association code #}
                    {% include '@SonataDoctrineORMAdmin/CRUD/edit_orm_one_association_script.html.twig' %}

                {% else %}
                    <span id="field_actions_{{ id }}" >
                {% if display_create_button %}
                    <a
                            href="{{ sonata_admin.field_description.associationadmin.generateUrl(
                            'create',
                            sonata_admin.field_description.getOption('link_parameters', {})
                            ) }}"
                            onclick="return start_field_dialog_form_add_{{ id }}(this);"
                            class="btn btn-success btn-sm sonata-ba-action"
                            title="{{ btn_add|trans({}, btn_catalogue) }}"
                    >
                        <i class="fa fa-plus-circle"></i>
                        {{ btn_add|trans({}, btn_catalogue) }}
                    </a>
                {% endif %}
            </span>

                    {% include '@SonataDoctrineORMAdmin:CRUD:edit_modal.html.twig' %}

                    {% include '@SonataDoctrineORMAdmin:CRUD:edit_orm_many_association_script.html.twig' %}
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}
{% endautoescape %}